.page-content {
  p {
    margin: 0;
    margin-bottom: 0.4em;
  }
  .input-field {
    width: 100%;
    margin: 0.4em 0;
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.symptom {
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'picker list';
    .chip {
      margin: 0.4em;
      word-wrap: break-word;
    }
    .picker {
      grid-area: picker;
      padding: 1em;
    }
    .common-symp {
      margin-top: 2em;
    }
    .list {
      grid-area: list;
      padding: 1em;
      background: #fff1f1;
      border: 1px solid #eaeaea;
      border-radius: 0.5em;
      .symptoms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
  &.questions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'content' '.';
    width: 100%;
    height: 100%;
    .loading {
      width: 100%;
      height: 100%;
      grid-area: 1 / 1 / 3 / 2;
      background: rgba(255, 255, 255, 0.6);
      z-index: 2;
    }
    .question-container {
      grid-area: content;
      padding: 2em;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1em 1fr;
      grid-template-areas:
        'question'
        '.'
        'btn-container';
      .question {
        grid-area: question;
        min-height: 80px;
        margin: 0;
        font-size: 1.6em;
      }
      .loading {
        grid-area: question;
        min-height: 80px;
      }
      .btn-container {
        grid-area: btn-container;
        display: grid;
        grid-template-columns: 1fr 2em 1fr 2em 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'absent . unknown . present';
        .absent {
          grid-area: absent;
        }
        .present {
          grid-area: present;
        }
        .unknown {
          grid-area: unknown;
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
  &.diagnosis {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2em 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'list . desc';
    p {
      margin: 0;
    }
    .desc {
      grid-area: desc;
      // hr {
      //   margin-bottom: 2em;
      // }
      hr {
        border: 0;
        border-top: 1px solid #e8eaed;
        margin: 2em 0;
      }
      .desc-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto 1fr;
        grid-template-areas:
          'top'
          'links'
          'seperator'
          'map'
          '. ';
        .top {
          grid-area: top;
          width: 100%;
          margin-bottom: 0;
        }
        .seperator {
          grid-area: seperator;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          hr {
            width: 100%;
          }
          p {
            background: white;
            padding: 0 1em;
          }
        }
        .btn.map-btn {
          grid-area: map;
          width: 100%;
          padding-left: 0em;
          margin: 1.4em 0;
          span {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 'icon text';
            .icon {
              grid-area: icon;
              height: auto;
              width: 2em;
              padding: 0.2em 1em;
            }
            p {
              grid-area: text;
              text-align: center;
            }
          }
        }
        .link-group {
          grid-area: links;
          display: flex;
          flex-wrap: wrap;
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin: 1em;
            .logo {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3em;
              height: 3em;
              border-radius: 50%;
              overflow: hidden;
              img {
                width: 3em;
                height: 3em;
              }
            }
            p {
              margin-left: 0.6em;
              font-size: 1.3em;
            }
            &.halodoc {
              .logo {
                background: #e0004d;
              }
              color: #e0004d;
            }
            &.alodokter {
              .logo {
                background: #3a72cf;
              }
              color: #3a72cf;
            }
            &.practo {
              .logo {
                background: #28328c;
              }
              color: #28328c;
            }
          }
        }
      }
      .common_name {
        font-weight: 500;
        font-size: 2em;
        margin: 0.2em 0;
      }
      .triage {
        font-weight: 500;
        font-size: 1.8em;
        margin: 0.2em 0;
      }
      .name {
        font-weight: 400;
        font-size: 1.5em;
        margin: 0.2em 0;
      }
      .cat-list {
        margin: 0.4em 0;
        .chip {
          font-weight: 500;
          font-size: 0.8em;
          margin: 0.4em;
          margin-left: 0;
        }
      }
      .search {
        font-size: 0.8em;
        margin: 1em 0;
      }
      .table-container {
        margin: 1em 0;
        .table {
        }
      }
      .hint {
        margin: 1em 0;
      }
      &.loading {
        background: rgba(255, 255, 255, 0.8);
        z-index: 3;
      }
    }
    .list {
      grid-area: list;
      // padding: 1em;
      // background: #ffe6e6;
      // border: 1px solid #eaeaea;
      // border-radius: 0.5em;
      .item {
        padding: 0.2em 0.8em 0.4em 0.8em;
        margin: 0.6em;
        border-radius: 0.5em;
        background: white;
        border: 1px solid #eaeaea;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
          'title num'
          'title .'
          'desc desc';
        &.selected {
          color: #e34b4b;
          border: 2px solid #e34b4b;
        }
        .title {
          grid-area: title;
          font-size: 1.2em;
          font-weight: 500;
          word-wrap: break-word;
        }
        .num {
          grid-area: num;
          font-weight: 300;
        }
        .desc {
          grid-area: desc;
          word-wrap: break-word;
        }
        &.important {
          background: #ffba72;
          color: white;
          border: 1px solid #eaeaea;
          cursor: default;
          display: grid;
          grid-template-columns: auto 0.8em 1fr;
          grid-template-rows: 1fr auto;
          grid-template-areas:
            'alert . title'
            'alert . desc';
          .alert {
            grid-area: alert;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 2em;
              width: auto;
            }
          }
          .title {
            grid-area: title;
          }
          .desc {
            grid-area: desc;
          }
          &.emergency {
            background: #e34b4b;
          }
        }
      }
    }
  }
}
